{% extends 'base.html.twig' %}

{% block title %}Admin User validation{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="style.css" /> 
{% endblock %}

{% block body %}
    <h1>User to validate / invalidate</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Mail</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in pendingUsers %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a href="{{ path('admin_approve', {'id': user.id}) }}">Valider</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Users's activities</h1>

    {% for activity in activities %}
        {# <h2>{{ activity.name }}</h2> #}
        <ul>
            {% for user in activity %}
                <li>
                    {{ user.email }}

                    {% if user == app.user and is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('exclude_user', { 'activityId': activity.id, 'userId': user.id }) }}">Exclure</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
