{% extends 'base.html.twig' %}

{% block title %}Admin User validation{% endblock %}

{% block body %}
    <h1>User to validate / invalidate</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Mail</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in pendingUsers %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a href="{{ path('admin_approve', {'id': user.id}) }}">Valider</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
